.error {
    border: 1px solid red !important;
}

.input {
    background-color: #f6f6f654;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0.5em;
    width: 63%;
    height: 2em;
}