$purple: #8D67AB;
$lightPurple: #B49BC8;
$blue: #7358FF;
$lightBlue: #7358FF;
$orange: #F47C75;
$pink: #AF2896;
$lightGreen: #2b9476;
$sun: #F7BC49;
$blackBackground: #070707;
$grayBackground: #121212;

.table {
    display: grid;
    width: 67%;
    height: 4.1em;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 15%;
    color: #d8d8d8;
    box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.1);

    div {
        align-items: center;
        border-bottom: 1px solid rgba(197, 197, 197, 0.178);
        border-right: 1px solid rgba(197, 197, 197, 0.178);
        padding-top: 0.5em;
        box-sizing: border-box;
    }
}

.blueClick {
    background-color: #947fff;

}

.orangeClick {
    background-color: #f18e89;
}

.greenClick {
    background-color: #42aa8c;
}

.btnBig {
    width: 40px;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background-color: $purple;
}

.btnSave {
    background: url('../../static/check.png')0 0 /100% no-repeat;
    width: 36px;
    height: 28px;
}

.btnEdit {
    width: 28px;
    height: 28px;
    background: url('../../static/pencil.png')0 0 /100% no-repeat;
}

.btnDelete {
    width: 28px;
    height: 28px;
    background: url('../../static/delete.png')0 0 /100% no-repeat;

}

.btnClear {
    width: 28px;
    height: 28px;
    background: url('../../static/Component3.png')0 0 /100% no-repeat;
}


button {
    border-radius: 8%;
    border: none;
    margin: 7px;
    transition: 0.3s;
    box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        transform: scale(1.09);
    }
}

.purple {
    background-color: $purple;
}

.pink {
    background-color: $pink;
}


.lightGreen {
    background-color: $lightGreen;
}

.lightBlue {
    background-color: $lightBlue;
}

.pink {
    background-color: $pink;
}

.orange {
    background-color: $orange;
}



.boldFont {
    font-weight: 700;
}

.darkColor {
    opacity: 92%;
}

@media screen and (max-width: 810px) {
    .table {
        width: 87%;
    }
}

@media screen and (max-width: 480px) {
    .table {
        width: 100%;
    }

    .btnDelete {

        height: 19px;
    }

    .btnEdit {

        height: 19px;
    }

    .btnSave {

        height: 19px;
        background-size: cover;
    }

    .btnClear {

        height: 19px;
    }
}