.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6em;
    background-color: rgba(0, 0, 0, 0.385);
}

.header__title {
    margin-left: 1em;
    color: rgba(168, 168, 168, 0.697);
}

.header__logo {
    margin-left: 2em;
    height: 5em;
    justify-self: flex-start;

}

nav {
    margin-left: 57%;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 9em;
    justify-content: space-between;
    justify-self: flex-end;
    list-style-type: none;

    a {
        font-weight: 700;
        color: rgb(206, 206, 206);
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #a7a7a7;

        }
    }

}