.card-box {
    margin: 2em auto;
    border-radius: 3px;
    padding: 3%;
    width: 15%;
    height: 16em;
    background-color: #AF2896;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.1);


    h2 {
        color: #cacaca;
        font-size: 38px;
    }

    button {
        outline: none;
        cursor: pointer;
        margin: 1.5em auto;
        padding: 1.5em;
        color: #a7a7a7;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px solid #7358FF;
        cursor: pointer;
        box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.1);
        font-family: inherit;

        &:hover {
            box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.15);
        }


    }

    .card-box__btn {
        background-color: #7358FF;
        width: 70%;
        transition: background-color 0.3s linear;

        &:focus {
            border: 2px solid #8c80c9;
        }
    }

}

.card-box__translate {
    transition: 0.8s;
    width: 70%;
    background-color: #AF2896;
}

.card-box__text {
    margin-top: 1em;
    text-align: center;
}

.card-box__transcription {
    color: #b5b5b5;
    padding: 1%;
    font-size: 18px;
    font-weight: 500;

}