.card-box {
    margin: 2em auto;
    border-radius: 3px;
    padding: 3%;
    width: 15%;
    height: 16em;
    background-color: #AF2896;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.2);


    h2 {
        color: #d8d8d8;
        font-size: 35px;
    }

    button {
        cursor: pointer;
        margin: 2.5em auto;
        padding: 1em;
        color: #f3f3f3;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 600;
        text-transform: lowercase;
        border: 2px solid #7358FF;
        cursor: pointer;
        box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.1);
        font-family: inherit;

        &:hover {
            box-shadow: -1px 5px 5px 3px rgba(0, 0, 0, 0.15);
        }
    }

    .card-box__btn {
        background-color: #7358FF;
        ;
        width: 70%;
        transition: background-color 0.3s linear;
    }

}

.card-box__translate {
    transition: 0.8s;
    width: 70%;
    background-color: #AF2896;

}

.card-box__text {
    color: #d8d8d8;
    margin-top: 1em;
    text-align: center;
}

.card-box__transcription {
    color: #e3b4da;
    padding: 1%;
    font-size: 15px;
    font-weight: 500;

}