.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4em 0 4em 0;

}

.slider__btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        transform: scale(1.02);
    }
}

.sliderPrev {
    background: url('./prev.png')0 0 /100% no-repeat;
    margin-left: 33%;

    &:hover {
        background: url('./prevHover.png')0 0 /100% no-repeat;
    }
}

.sliderNext {
    background: url('./next.png')0 0 /100% no-repeat;
    margin-right: 33%;

    &:hover {
        background: url('./nextHover.png')0 0 /100% no-repeat;
    }
}