.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 4em 0;

    &:focus {
        border: 10px solid red;
    }
}

.slider__btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        transform: scale(1.02);
    }
}

.sliderPrev {
    background: url('../../static/prev.png')0 0 /100% no-repeat;
    margin-left: 33%;

    &:hover {
        background: url('../../static/prevHover.png')0 0 /100% no-repeat;
    }
}

.sliderNext {
    background: url('../../static/next.png')0 0 /100% no-repeat;
    margin-right: 33%;

    &:hover {
        background: url('../../static/nextHover.png')0 0 /100% no-repeat;
    }
}

.learnedWords {
    color: rgba(168, 168, 168, 0.697);
    font-size: 18px;
    margin-top: 5em;
}